html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}
.Website {
    background-color: white;
}
.Main {
    margin: 0px 30px 30px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgb(221, 221, 221);
}
.Header {
    width: 100%;
    margin: 20px;
    border: white 4px solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.NameDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.Name {
    font-family: orator;
    color: black;
    margin: 0px 25px 25px 25px;
    font-size: 26px;
}
.CopeteDiv {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 25px 170px 25px;
}
.Copete {
    font-family: orator;
    color: black;
    font-size: 20px;
}
.MainSpaceship {
    margin-top: 15px;
}
@media screen and (max-width: 700px) {
    .Main{
        margin: 0px;
    }
    .CopeteDiv {
        margin: 50px 25px 90px 25px;
    }
    .Copete {
        font-size: 8px;
    }
    .Name {
        font-size: 14px;
    }
}
.Content{
    /*background-color: rgb(34, 34, 34);*/
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 12px;
}

@media screen and (max-width: 700px) {
    .Content{
        width: 100%;
    }
}
/*Rombo*/
.rhombusParent {
    height: 86;
}
@keyframes shrink-scrolling {

    from {
        transform: scale(0.6) translate(0,-70px);
    }

    to {
        transform: scale(1) translate(0,0);
      }
  }
.nav{
    width: 100%;
    position: fixed;
    height: 10px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
    overflow: visible;
}
.navMenu{
    display: flex;
    flex-direction: column; 
    z-index: 5;
    align-items: center;
    position: absolute;
    width: 170px;
    visibility: hidden;
    top : 18px
}
@media screen and (max-width: 700px) {
    .navMenu {
        top : 35px
    }
}
.navMenu:first-child{
    margin-top: 40px;
}
.menuItem{
    color: black; 
    font-size: 23px;
    padding: 4px 30px 4px 30px;
    font-family: orator;
    opacity: 0.8;
    text-align: center;
}
.menuItemLong{
    color: black; 
    font-size: 23px;
    padding: 4px 10px 4px 10px;
    font-family: orator;
    opacity: 0.8;
    text-align: center;
}
.menuItem:hover{
    background-color: #75AADB;
    cursor: pointer;
}
.menuItemLong:hover{
    background-color: #75AADB;
    cursor: pointer;
}
.menuImage{
    opacity: 0.85;
    height: 85px;
    background-size: cover;
    image-rendering: crisp-edges;
    animation-duration: 0.3s;
    animation-name: shrink-scrolling;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.menuImageSpaceship {
    opacity: 0.95;
}

/*Spaceship*/

.spaceshipSection{
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.spaceshipSection:first-of-type {
    margin-top: 20px;
}
.SpaceshipContent {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 12px;
}
@media screen and (max-width: 700px) {
    .SpaceshipContent {
        width: 100%;
    }
    .spaceshipSection {
        width: 88%;
        margin-top: 40px;

    }
}
.spaceshipText{
    color: rgb(228, 228, 228);
    font-size: 16px;
    font-family: orator;
    text-align: left;
}

.spaceshipTitle{
    margin-bottom: 40px;
    color: white;
    font-size: 19px;
    font-family: orator;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .spaceshipText{
        font-size: 11px;
    }
    .spaceshipTitle {
        font-size: 14px;
        margin-bottom: 14px;
    }
}

.spaceshipArchImg {
    width: 658px;
    height: 254px;
    border: white 2px solid;
    border-radius: 15px;
}
@media screen and (max-width: 940px) {
    .spaceshipArchImg{
        width: 500px;
        height: 200px;
    }
}
@media screen and (max-width: 580px) {
    .spaceshipArchImg{
        width: 300px;
        height: 120px;
    }
}
.spaceshipScreenshot {
    margin-left: 10px;
    margin-top: 10px;
    width: 384px;
    height: 206px;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
}
@media screen and (max-width: 580px) {
    .spaceshipScreenshot{
        margin-left: 0px;
        width: 300px;
        height: 180px;
    }
}
.LogoSection {
    width: 100%;
    text-align: left;
}
.DownloadFrame {
    width: 50%;
    margin : 20px 0px 20px 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}
.DownloadGroup {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 250px;
    margin-right: 10px;
}
.logoText{
    color: rgb(135, 147, 252);
    font-size: 1em;
    font-family: orator;
    text-align: left;
    cursor: pointer;
}
.DownloadLogo {
    width: 35px;
    height: 35px;
    margin: 13px;
    cursor: pointer;
}
.logoText:hover {
    color: rgb(0, 8, 78);
}
.SpaceshipLogo {
    width: 50px;
    height: 50px;
    margin: 13px;
}
.screenshotFloat {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.listColumn {
    width: 50%;
}
@media screen and (max-width: 700px) {
    .listColumn{
        width: 100%;
        margin-bottom: 20px;
        padding-left: 30px;
    }
}
.underline {
    text-decoration: underline;
}

.NoLinkDecoration {
    text-decoration: none;
    color : unset;
}

/**
Work in progress
*/
.HelmetImg {
    width: 50px;
    height: 50px;
}
.WorkInProgressTitle {
    width: 100%;
}
.WorkInProgressBox {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    outline: yellowgreen solid 1px;
}
.WorkInProgressContent {
    background-color: black;
}
.MainWorkInProgress {
    margin: 0px 30px 30px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    height: 100vh;
}